# Dépendances
node_modules/

# Build
dist/

# Variables d'environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeurs
.vscode/*
!.vscode/settings.json

# Système
.DS_Store
